
* {margin: 0; padding: 0;}

/************************************* Main structure *************************/

body {
	font-family: Impact, Charcoal, sans-serif
	font-size: 80%;
	color: #c62828;
}

#container {
	width: 100%;
	font-size: 1.2em;
	margin: 4px;
}
#right {
	margin-left: 10px;
	margin-right: 10px;
}

/******************************* Text and image formatting *******************************/

p {margin-bottom: 15px;
   margin-top: 15px;
}


h3 {
	height: 31px;
	padding-top: 20px;
	font-size: 1.6em;
	font-weight: bold;
	color: #8e0000;
	border-bottom: 1px dotted #CCCCCC;
}

img {border: none;}

.float_center {float: center;}

ul, ol {padding-top: 10px; padding-left: 10px;}

li {
    margin-top: 10px;
}

#installation {
    margin-top: 80px;
}